h1 {
    font-family: Segoe UI Light;
    text-align:center;
    padding-top: 20px;
    font-size: 70px !important;
    text-decoration-thickness: 6px !important;
    position:absolute;
}

#over{
    left:500px;
}

#slash {
    left:650px;
}

#under {
    left:690px;
}

p {
    font-size: 12px;
    font-family: Segoe UI Light;
    text-align: center;
}

.alertify {
    border-radius:25px;
}



