h1 {
    font-family: Segoe UI Light;
    text-align:center;
    padding-top: 20px;
    font-size: 70px !important;
    text-decoration-thickness: 6px !important;


}

p {
    font-size: 12px;
    font-family: Segoe UI Light;
    text-align: center;
}

.alertify {
    border-radius:25px;
}



