h1 {
    font-family: Segoe UI Light;
    text-align:center;
    padding-top: 20px;
    font-size: 70px !important;
    text-decoration-thickness: 6px !important;
    position:absolute;
}

#title {
    padding-bottom:100px
}

#over{
    left:500px;
}

#slash {
    left:650px;
}

#under {
    left:690px;
}

p {
    font-size: 12px;
    font-family: Segoe UI Light;
    text-align: center;
}

.alertify {
    border-radius:25px;
}

#loading {
    visibility:hidden;
    position:absolute;
    top:210px;
    right:220px;
    z-index: 1 !important;
}

#chartContainer {
    width: 500px; 
    height: 400px;
    margin-top: 2.5rem;
}

#predefinedRangesLabel {
    margin-left:67px;
}

form {
    margin-top:5.2rem;
}

.spacing {
    margin-top: 1.5rem;
}

#regressionCheck {
    margin-top: 1.8rem;
}

#submit {
    margin-top: 1rem;
}